<nav class="navbar navbar-light justify-content-center custom-navbar">
    <ul class="navbar-nav flex-row text-center">
        <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#">Speaking</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#">Uses</a>
        </li>
    </ul>
</nav>
