header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
}

.toggle-btn {
    cursor: pointer;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    header {
        margin-top: 50px;
    }
}
